<ion-header>
  <ion-toolbar>
    <!--back button-->
        <ion-buttons slot="start">
          <ion-back-button defaultHref="trip-list"></ion-back-button>
        </ion-buttons>
    <!-- Logout button -->
    <ion-buttons slot="end">
      <ion-button (click)="logOut()">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{placeData.name}}</ion-card-title>
      <ion-card-subtitle class="Date">{{placeData.createdAt}}</ion-card-subtitle>
    </ion-card-header>
    <ion-slides>
      <ion-slide *ngFor="let place of placeData.images; index as position">
        <div class="flex">
          <ion-img [src]="place.link"></ion-img>
        </div>
      </ion-slide>
    </ion-slides>
    <ion-label class="Descr">Description</ion-label>
    <ion-card-content>
      {{ placeData.description}}
    </ion-card-content>
  </ion-card>
</ion-content>
