$purple: #d399ff;

h1{
    margin-left: 10px;

}

#Trip-Title{
    color: #d399ff;
}

ion-card{
    flex-direction: column;
    width: 47 px ;
}


.flex{
    display: flex;
    flex-wrap: wrap;
}

#Trip-Date{
    font-size: 9px;
}

.image{
    position: left;
}

#item-submit{
    ion-button {
        width: 100%;
        height: 2.4rem;
        --border-radius: 18px;
        margin-top: 1rem;
        color: #d399ff;
    }
}

ion-slide{
    width: 300px!important;
    margin-top: 2rem;
}

#places{
    width: 450px!important;
    margin-top: 2rem;
}
