$purple: #d399ff;

h1{
    margin-left: 10px;

}

#Trip-Title{
    color: #d399ff;
}

ion-card{
    flex-direction: column;
    width: 47 px ;
}

#slide{
    bottom: -30%;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}

#Trip-Date{
    font-size: 9px;
}

.image{
    position: left;
}
