<ion-header>
  <ion-toolbar>
    <!-- Logout button -->
    <ion-buttons slot="end">
      <ion-button (click)="logOut()">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h1>Mes voyages</h1>

  <ion-item>
   <ion-searchbar [(ngModel)]="searchTitle"></ion-searchbar>
    <ion-button color="light" (click)="searchTrip()">
      <ion-icon name="search-sharp"></ion-icon>
    </ion-button>
  </ion-item>



    <ion-list>
     <ion-item *ngFor="let tripData of tripData">
     <ul>
        <li>Nom : {{ tripData.title }}</li>
        <li >date : {{ tripData.createdAt }}</li>
        <li><button ion-item (click)="goPageViewTrip(tripData.id)">Page voyages </button></li>
        <li><button ion-item (click)="showPlaces(tripData.id)">{{ tripData.placesCount }} étapes </button></li>
    </ul>
     </ion-item>
    </ion-list>

    <h1>étapes</h1>

    <ion-list>
      <ion-item *ngFor="let placeData of placeData">
      <ul>
         <li>Nom : {{ placeData.name}}</li>
         <li>Trip : {{ tripName.title}}</li>
         <li>Date : {{ placeData.createdAt}}</li>  
         <li><button ion-item (click)="goPageView(placeData.id)">Voir </button></li>
     </ul>
      </ion-item>
     </ion-list>
</ion-content>
