<ion-header>
  <ion-toolbar>
    <ion-title>TripList</ion-title>
    <!-- Logout button -->
    <ion-buttons slot="end">
      <ion-button (click)="logOut()">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
     <ion-item *ngFor="let tripData of tripData">
     <ul>
        <li>Nom : {{ tripData.title }}</li>
        <li >date : {{ tripData.createdAt }}</li>
        <li><button ion-item>{{ tripData.placesCount }} étapes </button></li>
    </ul>
     </ion-item>
    </ion-list>
</ion-content>
