<ion-header>
  <ion-toolbar>
    <ion-title>Create Place</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form (submit)="createPlace()">

    <ion-item>
      <ion-label position="stacked">Voyage</ion-label>
      <!-- VOYAGES -->
      <select value="trip" name="trip" [(ngModel)]='trip'>
        <option value="">+ Nouveau voyage</option>
        <option *ngFor="let trip of trips" [value]="trip.id">{{ trip.title }}</option>
      </select>
      <ion-input type="text" name="newTripName" placeholder="Nom du voyage" [hidden]="trip"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="text" placeholder="Titre de l'étape" name="title" maxlength="64" required></ion-input>
    </ion-item>

    
    <ion-item>
      <ion-label position="stacked">Photos</ion-label>
    </ion-item>
    <!-- PICS -->
    <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
      <ion-slide *ngFor="let photo of photoService.photos; index as position">
          <ion-thumbnail>
            <ion-img [src]="photo.webviewPath"></ion-img>
          </ion-thumbnail>
      </ion-slide>
    </ion-slides>
  
    <ion-item>
      <ion-label position="stacked">Localisation</ion-label>
      <!-- TODO MAP -->
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Description</ion-label>
      <ion-input type="text" name="description"></ion-input>
    </ion-item>

    <ion-button (click)="imgurUpload()">Test</ion-button>
    <ion-button type="submit">Ajouter</ion-button>
  </form>

</ion-content>